html,
body {
    /* overflow:hidden; */
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#flipbook {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#flipbook .page {
    width: 100%;
    height: auto;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

#flipbook .hard {
    width: 100%;
    background: #ccc !important;
    color: #333;
    font-weight: bold;
}

#flipbook .odd {
    background: -webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    box-shadow: inset 0 0 5px #666;
}

#flipbook .even {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    box-shadow: inset 0 0 5px #666;
}

canvas {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
